.onoffswitch {
    position: relative;
    width: 100%;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    border-top: 1px solid #8ED88F;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 50px; padding: 0; line-height: 50px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Switch it OFF";
    padding-left: 10px;
    background-color: #fff; color: #333;
    text-align: center;
}
.onoffswitch-inner:after {
    content: "Switch it ON";
    padding-right: 10px;
    background-color: #A74141; color: #fff;
    text-align: right;
    text-align: center;
}
.onoffswitch-switch {
    display: none; width: 18px; margin:0 6px;
    height: 18px;
    background: #FFFFFF;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 56px;
    border: 2px solid #999999; border-radius: 50%;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}